<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/home">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/login">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/cadastro">Cadastro de leiloes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/list">Listagem de leiloes</a>
      </li>
    </ul>
    <span class="navbar-text">
      Leilao de quadros
    </span>
  </div>
</nav>

<div>
  <router-outlet></router-outlet>
</div>
